# Put action within a raw block so that the curly bracket expressions aren't picked up by the cookiecutter
#
name: tests

env:
  DOCKER_BUILDKIT: 1
  PYTHON_VERSION: "3.12" 
  POETRY_VERSION: "2.3.2"


on:
  push:
    paths:
      - backend/**
      - Makefile
      - frontend/**
      - .github/workflows/*.yml
      - .github/workflows/*.yaml

    branches:
      - "main"
      - "feature/**"
      - "chore/**"
      - "bugfix/**"
      - "hotfix/**"
      - "development/**"
      - "dependabot/**"
      - "security/**"

  pull_request: 
    branches: 
      - development
      
  workflow_dispatch:

jobs:
  backend_tests:
   
    uses: ./.github/workflows/backend-tests.yml
    with:
      python_version: "3.12"
      poetry_version: "2.3.2"
    secrets: inherit

  frontend_tests:
    uses: ./.github/workflows/frontend-tests.yml
    secrets: inherit


#
