# Put action within a raw block so that the curly bracket expressions aren't picked up by the cookiecutter
# 
name: type-check

env:
  PYTHON_VERSION: "3.12"
  POETRY_VERSION: "2.3.2"

on:
  pull_request:
  push:
    branches: [main]

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Set up Poetry
      uses: abatilo/actions-poetry@v2
      with:
        poetry-version: ${{ env.POETRY_VERSION }}

    - name: Install dependencies
      run: |
        poetry install --no-root --no-ansi --with dev
  
    - name: Install ElevenLabs SDK
      run: |
        poetry run pip install elevenlabs

    - name: Run mypy
      run: |
        poetry run mypy .
    
    - name: Format code
      run: |
        poetry run ruff format . --check
        poetry run ruff check .

